<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
	<title>Jessica's Burgers</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
	{{{ body }}}
  <a target="_blank" href="http://hdavidzhu.github.io/"><div class="footer">David Zhu 2015</div></a>
</body>

</html>