<h1> Add a new ingredient!</h1>
<form id="post_ingredient">
	Name:<br>
	<input type="text" name="name"><br>
	Price:<br>
	<input type="text" name="price"><br>
	<input type="submit" value="Submit">
</form>

<h2>Ingredients</h2>
<div id="ingredient_list"></div>
<script type="text/javascript" src="javascripts/csIngredients.js"></script>