<h1>Place an order!</h1>
<h3>Your name: </h3>

<form id="post_ingredient">
	Name:<br>
	<input type="text" name="name"><br>
	<div id="ingredient_list"></div>
	<input type="submit" value="Submit">
</form>

<script type="text/javascript" src="javascripts/csIngredients.js"></script>